{% extends 'insightfulbyte/base.html' %}
{% load static %}

{% block content %}
<div class="site-content">
    <div class="container">
        <main class="main-content">
            <div class="posts-container">
                <header class="page-header">
            <h1>All Posts</h1>
            {% if user.is_authenticated %}
                <a href="{% url 'create-post' %}" class="btn btn-primary" style="margin-bottom: 20px; display: inline-block; padding: 8px 16px; font-size: 16px; width: 200px; text-align: center;">Create New Post</a>
            {% endif %}
            <div class="page-actions">
                {% if user.is_authenticated %}
                    <a href="{% url 'my-posts' %}" class="btn btn-secondary" style="margin-bottom: 10px; padding: 8px 16px; font-size: 16px; width: 200px; text-align: center; display: inline-block;">My Posts</a>
                {% endif %}
            </div>
        </header>

        {% if messages %}
            {% for message in messages %}
                {% if 'deleted' in message.tags %}
                    <div class="success-message">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

                {% include 'insightfulbyte/post-display.html' with hide_create_button=True %}
            </div>
        </main>
    </div>
</div>
{% endblock %}