{% extends 'insightfulbyte/base.html' %}
{% load static %}

{% block content %}
<div class="site-content">
    <div class="container">
        <main class="main-content">
            <div class="posts-container">
                <header class="page-header">
            <h1>All Posts</h1>
      

                {% if user.is_authenticated %}
                <div class="post-actions">

                    <a href="{% url 'my-posts' %}" class="btn btn-secondary">My Posts</a>
                </div>
                {% endif %}

                {% if user.is_authenticated %}
                <div class="post-actions" style="margin-top: 10px;">
    
                    <a href="{% url 'create-post' %}" class="btn btn-primary" >Create New Post</a>
                    </div>
                {% endif %}

        </header>

        {% if messages %}
            {% for message in messages %}
                {% if 'deleted' in message.tags %}
                    <div class="success-message">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

                {% include 'insightfulbyte/post-display.html' with hide_create_button=True %}
            </div>
        </main>
    </div>
</div>
{% endblock %}